@page "/forum"
@layout ForumLayout
@using StellumbraSite.Components.Other
@using StellumbraSite.Data
@using StellumbraSite.Model
@using System.Security.Claims
@using StellumbraSite.Components.Text
@using StellumbraSite.Components.Forum
@using StellumbraSite.Components.Shared
@using Microsoft.AspNetCore.WebUtilities
@using StellumbraSite.Components.Hypertext

@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Forum</PageTitle>

<div class="forum-main">
    <div class="forum-main-column">
        @if (topics != null)
        {
            <ForumSection TitleName="Stellumbra">
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/0_news/1">
                        News
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[0].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/1_general/1">
                        General
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[1].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/2_ideas/1">
                        Suggestions & Ideas
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[2].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/3_support/1">
                        Support
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[3].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/4_bugs/1">
                        Bugs
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[4].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/5_mods/1">
                        Mods
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[5].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
            </ForumSection>
            <ForumSection TitleName="Media">
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/6_videos/1">
                        Videos
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[6].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/7_streams/1">
                        Streams
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[7].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
            </ForumSection>
            <ForumSection TitleName="Other">
                <ForumTopicSection>
                    <CustomHypertext HasBlinkingArrow Href="/forum/threads/8_off-topic/1">
                        Off-Topic
                        <DosP Class="dos-font light-green" Style="font-size: 12px">
                            @topics[8].Description
                        </DosP>
                    </CustomHypertext>
                </ForumTopicSection>
            </ForumSection>
        }
    </div>
    <div class="forum-main-column">
        <ForumSection TitleName="Recent Threads">
            @if (threadsInitialized)
            { 
                for (int i = 0; i < threads.Count; i++)
                {
                    var index = i;
                    var thread = threads[index];
                    var urlWithQuery = QueryHelpers.AddQueryString(
                        $"/forum/thread-opened/{thread.Id}/1",
                        new Dictionary<string, string?> { { "ReturnUrl", $"/forum/threads/{thread.TopicName}/1" } }
                    );

                    <ForumTopicSection>
                        <div style="width: 55%">
                            <CustomHypertext HasBlinkingArrow Href=@urlWithQuery>
                                @thread.Title
                                <DosP Class="dos-font light-green" Style="font-size: 12px">
                                    @threadTopics[index].TopicShownName
                                </DosP>
                            </CustomHypertext>
                        </div>
                        <div style="display: flex; gap: 1em; justify-content: right; width: 45%; align-items: center; text-align: right;">
                            <div style="width: fit-content">
                                <DosP Class="dos-font light-green" Style="font-size: 12px; vertical-align: bottom;">
                                    @threadPosters[index].Username
                                </DosP>
                                <DosP Class="dos-font light-green" Style="font-size: 12px; vertical-align: bottom;">
                                    @($"{replies[index]}") Replies
                                </DosP>
                                <DosP Class="dos-font light-green" Style="font-size: 12px">
                                    @thread.DateTime
                                </DosP>
                            </div>

                            <ProfilePicture UserData="@threadPosters[index]"/>
                        </div>
                    </ForumTopicSection>
                }
            }
        </ForumSection>
    </div>
</div>

@code {
    private bool threadsInitialized = false;
    private List<ForumTopic> topics;
    private List<ForumThread> threads;
    private UserData[] threadPosters;
    private int[] replies;
    private ForumTopic[] threadTopics;
    private string userID, userRole;
    protected override async Task OnInitializedAsync()
    {
        // TODO: Redundant code, reuse it somewhere.
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user != null && user.Identity.IsAuthenticated)
        {
            userID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            userRole = user.FindFirst(ClaimTypes.Role)?.Value;
        }

        int recentThreadLimit = 11;
        topics = await Http.GetFromJsonAsync<List<ForumTopic>>("/api/Topic/GetAllTopics");
        threads = await Http.GetFromJsonAsync<List<ForumThread>>($"/api/Thread/GetRecentThreads/{recentThreadLimit}");
        replies = new int[threads.Count];
        threadTopics = new ForumTopic[threads.Count];
        threadPosters = new UserData[threads.Count];

        for (int i = 0; i < threads.Count; i++)
        {
            int index = i;
            var thread = threads[index];
            replies[index] = await Http.GetFromJsonAsync<int>($"/api/Thread/GetReplies/{thread.Id}");
            threadTopics[index] = await Http.GetFromJsonAsync<ForumTopic>($"/api/Topic/GetTopic/{thread.TopicName}");
            threadPosters[index] = await Http.GetFromJsonAsync<UserData>($"/api/User/GetUserData/{thread.PosterId}");
        }

        threadsInitialized = true;
    }
}